@charset "utf-8";
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    /* opacity: 0; */
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    /* direction: ltr; */
    cursor: pointer;
}
.search_result{margin-left:164px;margin-top:20px;}
.search_resultz_li{width:288px;}
.search_resultz_li table{width:100%}
.submit_subject{margin-left:164px;margin-top:20px;}
.cancel_subject{margin-left:164px;margin-top:20px;}
.href{text-decoration: none; color: #00309c;}
.req-all{position: relative;display:none;width:120px;height:200px;top:10px;z-index:5;border: 1px solid;}
.conform{font-size:12px;color:red;}
.file-img{height:80px;}
#shopImgs{margin-bottom:0px;margin-top:10px;height:50px;}
#advImgs{margin-bottom:0px;margin-top:10px;}
#businessImgs{margin-bottom:0px;margin-top:10px;}
#courtImgs{margin-bottom:0px;margin-top:10px;}
.shopImgs-left{float: left;}
.shopImgs-left-a{margin-top:5px;float: left;}
.addBrand{margin-bottom:0px;margin-top:10px; margin-left:158px;}
.addBuilding{margin-bottom:0px;margin-top:10px; margin-left:388px;}

.font_bule{color:rgb(43,170,251);}
.select{width:216px;}
.pt5{paddint-top:5px;}
.pb5{paddint-bottom:5px;}
.mb5{margin-bottom:5px;}
.ta_desc{width:500px;height:100px;font-size:14px;}
.li_desc{margin-bottom:0px;margin-top:10px;height:50px;}
.mainBrand{border:1px black dashed;height:150px;}
.building{border:1px red dashed;}
.floor{border:1px orange dashed;height:150px;}
.del_btn{float:right;}
.mainCon{height:1500px;overflow-y:scroll}

